doctype html
html
  head
    title The Inventory Of Favorites
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    div(class='title-container')
      h1 The Inventory Of Favorites
      h3 Welcome to the favorites inventory, here you can share your favorite things

    div(class='sidebar')
      div
        h1 Categories List
        a(href='/addItem')
          img(src='/')
      if categories_list.length
        ul
          li
            a(href='/all-categories') All-categories
          each category in categories_list
            li
              a(href=`/category/${category}`) #{category[0].toUpperCase() + category.substring(1)}
      else
        p There are no categories.

    div(class='items-container')
      block content
