doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/items_container.css')
    link(rel='stylesheet', href='/stylesheets/item_details.css')
    link(rel='stylesheet', href='/stylesheets/item_form.css')
    link(rel='stylesheet', href='/stylesheets/password_form.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
    meta(charset="UTF-8")
    meta( name="viewport" content="width=device-width, initial-scale=1.0")
    title The Inventory Of Favorites
  body
  
    div(class='title-container')
      h1 THE INVENTORY OF FAVORITES
      h3 HERE YOU CAN SHARE YOUR FAVORITE THINGS

    div(class='category-title-container')
      h1 Categories List
      p Add favorite
      a(href='/addItem' class='icon-link')
        img(src='/images/icons/add-circle.svg' class='icon')

    div(class='sidebar-items-container')
      div(class='dropdown-menu-category')
        button(class='dropdown-category-btn') click here to select a category
        div(class='sidebar')
          if categories_list.length
            ul
              li
                a(href='/all-categories') All Categories
              each category in categories_list
                li
                  a(href=`/category/${category}`) #{category[0].toUpperCase() + category.substring(1)}
          else
            p There are no categories.

      div(class='items-container')
        block content
