extend layout

block content
  form(action=`/category/${action}/${item_details._id}`, method='POST' class='password-form')
    label(for="password") Admin Password
    input(type="password" id='password' name='password' placeholder='Enter Admin Password' required)
    button(type='submit') Done