.item-container>p {
  width: fit-content;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #f8962c;
  padding: 8px 30px;
}

.item-details-container {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(255, 255, 255, 0.727);
}

.item-details-container>img {
  align-self: center;
  justify-self: center;
  width: 300px;
  height: 300px;
  background-color: aqua;
}

.details-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-link-container>div>p {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.details-link-container>div>div {
  max-height: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.details-link-container>div>div>p {
  font-size: 15px;
  font-weight: 600;
  margin-top: 3px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}

.edit-link>img,
.delete-link>img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.edit-link,
.delete-link {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

.edit-link {
  background-color: rgb(0, 149, 255);
}

.delete-link {
  background-color: rgb(238, 48, 48);
}
