.items-container {
  display: flex;
  height: 450px;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  margin-right: 20px;
}

.items-container>a {
  height: fit-content;
  box-shadow: 0px 0px 2px black;
  transition: transform 0.3s ease;
}

.items-container>a:hover {
  box-shadow: 0px 0px 4px black;
  transform: scale(1.1);
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 350px;
  padding: 8px;
  background-color: white;
}

.item-card>img {
  width: 200px;
  height: 250px;
  background-color: white;
}

.item-card>h4,
.item-card >div {
  text-align: center;
  margin-top: 5px;
}

.item-card >div {
  width: 80%;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  border-top: 1px solid black;
}

.item-card >div>p {
  font-weight: 300;
}

.item-card-category {
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: white;
  background-color: #f8962c;
  text-transform: uppercase;
  padding: 5px;
}

@media (max-width: 550px) {

  .items-container {
    justify-content: center;
    width: auto;
    max-height: 350px;
    gap: 10px;
    padding: 10px 5px;
    margin-right: 0px;
  }
  
  .items-container>a {
    height: fit-content;
  }
    
  .item-card {
    width: 180px;
    height: 280px;
    padding: 10px;
  }
  
  .item-card>img {
    width: 160px;
    height: 210px;
  }

}
