.item-form,
.input-container>div,
.input-container>div>div {
  display: flex;
  flex-direction: column;
}

.item-form {
  background-color: rgba(255, 255, 255, 0.727);
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  column-gap: 30px;
}

.input-container>div>div {
  margin-bottom: 10px;
}

.input-container>div>div>label {
  font-size: 20px;
  font-weight: 700;
}

.input-container>div>div>input {
  width: 200px;
  height: 20px;
  font-size: 15px;
  margin: 2px 0px;
  text-align: center;
  border-radius: 3px;
  border: 3px solid #3ec6fb;
}

.input-container>div>div>input:focus {
  border: 3px solid #44d964;
  outline: none;
}

#uploaded_image {
  height: fit-content;
  border-style: none;
  border-radius: 0px;
}

#uploaded_image::file-selector-button {
  display: flex;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  background-color: rgb(9, 195, 62);
  border-radius: 3px;
  border-style: none;
}

#uploaded_image::file-selector-button:hover {
  cursor: pointer;
  background-color: rgb(13, 231, 75);
}

.input-container>div>div>textarea {
  resize: none;
  overflow-y: auto;
  border: 3px solid #3ec6fb;
  border-radius: 3px;
}

.input-container>div>div>textarea:focus {
  border: 3px solid #44d964;
  outline: none;
}

.item-form>button {
  align-self: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  padding: 10px 20px;
  background-color: #53c6e7;
  border-radius: 5px;
  border-style: none;
  transition: transform 0.3s ease;
}

.item-form>button:hover {
  transform: scale(1.1);
}

@media (max-width: 550px) {
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .input-container>div>div>input {
    width: 300px;
    height: 30px;
  }
}