* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../images/inventory-app.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container>h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
}

.title-container>h3 {
  color: rgb(235, 225, 37);
  font-size: 25px;
  font-weight: 700;
}

.category-title-container{
  color: #f8962c;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  padding-top: 10px;
}

.sidebar-items-container {
  display: grid;
  grid-template-columns: .6fr 3fr;
  column-gap: 20px;
}

.sidebar {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.727);
  margin-left: 20px;
  padding: 10px;
  overflow-y: auto;
}

.sidebar>ul {
  list-style-type: none;
}

.sidebar>ul>li {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.sidebar>ul>li:hover {
  transform: scale(1.1);
}

button {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.icon-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.3);
}

.icon {
  width: 60px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(105, 227, 233); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #53c6e7; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2db7dd; 
}

@media (max-width: 550px) {

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .title-container>h1 {
    font-size: 25px;
  }

  .title-container>h3 {
    font-size: 15px;
  }

  .category-title-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.727);
    gap: 5px;
    padding: 0px;
    margin: 0px;
  }

  .sidebar-items-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    align-self: center;
    width: 90vw;
    max-height: 150px;
    padding: 10px;
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  .sidebar>ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .sidebar>ul>li {
    margin-bottom: 12px;
  }
  
  .icon-link {
    width: 55px;
    height: 55px;
  }
  
  .icon {
    width: 55px;
  }
  
  /* SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
}
