.password-form {
  width: 500px;
  height: 200px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.727);
  margin-left: 50px;
}

.password-form>label {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.password-form>input {
  width: 400px;
  height: 30px;
  font-size: 15px;
  margin: 20px 0px;
  text-align: center;
  border-radius: 3px;
  border: 3px solid #3ec6fb;
}

.password-form>input:focus {
  border: 3px solid #44d964;
  outline: none;
}

.password-form>button {
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  padding: 10px 20px;
  background-color: #53c6e7;
  border-radius: 5px;
  border-style: none;
  transition: transform 0.3s ease;
}

.password-form>button:hover {
  transform: scale(1.1);
}

@media (max-width: 550px) {
  .password-form {
    width: auto;
    margin-left: 0px;
    padding-bottom: 20px;
  }

  .password-form>label {
    font-size: 25px;
  }

  .password-form>input {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    width: 300px;
    height: 50px;
  }
}