.password-form {
  width: 500px;
  height: 200px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.727);
  margin-left: 50px;
}

.password-form>label {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.password-form>input {
  width: 400px;
  height: 30px;
  font-size: 15px;
  margin: 20px 0px;
  text-align: center;
}

.password-form>button {
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  padding: 10px 20px;
  background-color: #53c6e7;
  border-radius: 5px;
  border-style: none;
  transition: transform 0.3s ease;
}

.password-form>button:hover {
  background-color: #49adc8;
  transform: scale(1.1);
}